@import "@styles/variables";

.block {
	padding: 35px 17px;
	box-sizing: border-box;
	border: 1px solid $grey-light;
	border-radius: 30px;
	list-style-type: none;
}

.line {
	margin-top: 10px;
	display: flex;
	gap: 7px;
	align-items: center;
}

.userInfo {
	display: flex;
	gap: 12px;
	align-items: center;
	margin-bottom: 19px;
}

.image {
	width: 66px;
	height: 66px;
	border-radius: 50%;
}

.textBlock {
}

.text {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: $white;

	&Name {
		font-weight: 700;
	}
}
