@import "@styles/variables.scss";

.item {
	padding: 8px 8px 42px 8px;
	display: flex;
	flex-direction: column;
	gap: 17px;
	width: min-content;
	background-color: $grey;
	color: $white;
	border-radius: 30px;

	img {
		flex: none;
		width: 250px;
		height: 180px;
	}
}

.info {
	padding: 0 5px;
	gap: 5px;
	display: flex;
	flex-direction: column;

	.title {
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
	}
	.price {
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
	}
	.information {
		font-size: 14px;
		line-height: 17px;
		opacity: 0.85;
	}
}
