@import "@styles/variables.scss";

.block {}

.line {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 5px;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $white;

    &Rating {
        font-weight: 700;
        font-size: 23px;
        line-height: 28px;
    }
}