@import "@styles/variables.scss";

.block {
	box-sizing: border-box;
	width: 280px;
	border: 1px solid $grey-light;
	border-radius: 30px;
	padding: 30px 32px;

	&.small {
		display: flex;
		width: 100%;
		gap: 19px;
		padding: 36px 24px;

		.photoBlock {
			width: 89px;
			.photo {
				width: 89px;
				height: 89px;
			}
		}
	}
}

.textBlock {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.photo {
	border-radius: 50%;
	width: 169px;
	height: 169px;
	display: block;
	object-fit: cover;
}

.photoBlock {
	position: relative;
	margin: 0 auto 10px;
	width: 169px;
}

.icon {
	background: none;
	border: none;

	width: 18px;
	height: 18px;
	bottom: 0;

	cursor: pointer;

	&:hover svg {
		stroke: $green;
	}

	& svg {
		width: 100%;
		height: 100%;
	}
}

.iconBlock {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 120px;
	bottom: 10px;
	width: 34px;
	height: 34px;
	background: #2d2d33;
	border-radius: 100px;
}

.name {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: $white;
	margin-bottom: 10px;
	margin-top: 8px;
	display: flex;
	align-items: center;
	gap: 15px;

	& svg {
		vertical-align: middle;
		width: 22px;
		height: 26px;
	}

	&Active svg {
		stroke: $green;
	}
}

.text {
	text-align: left;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: $white;
	text-decoration: none;

	&Reviews {
		font-weight: 200;
		line-height: 21px;
		vertical-align: middle;
	}

	&Active {
		color: $green;
	}
}

.homeBlock {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 8px 12px 8px;
	border: 1px solid #5d616f80;
	border-radius: 10px;
}

.homeText {
	font-weight: 300;
	line-height: 19px;
	font-size: 16px;
	color: $white;
	text-decoration: none;

	margin-left: 10px;
}

.ratingText {
	font-weight: 300;
	line-height: 15px;
	font-size: 12px;
	color: $white;
	text-decoration: none;
	&Num {
		font-size: 14px;
		color: $white;
		line-height: 17px;
		font-weight: 400;
	}
}

.rating {
	display: flex;
	gap: 11px;
	align-items: center;
	margin-top: 10px;
}

.ratingBlock {
	display: flex;
	align-items: center;
	gap: 11px;
}

.reviewBlock {
	display: flex;
	flex-direction: column;
	text-align: right;
}
