@import "@styles/variables.scss";

.block {
	box-sizing: border-box;
	width: 280px;
	border: 1px solid $grey-light;
	border-radius: 30px;
	padding: 30px 32px;
}

.photo {
	border-radius: 50%;
	width: 169px;
	height: 169px;
	display: block;
	object-fit: cover;
}

.photoBlock {
	position: relative;
	margin: 0px auto 34px;
	width: 169px;
}

.icon {
	background: none;
	border: none;
	position: absolute;
	width: 18px;
	height: 18px;
	bottom: 0;
	right: 37px;
	cursor: pointer;

	&:hover svg {
		stroke: $green;
	}

	& svg {
		width: 100%;
		height: 100%;
	}
}


.name {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: $white;
	margin-bottom: 11px;
	display: flex;
	align-items: center;
	gap: 15px;

	& svg {
		vertical-align: middle;
		width: 22px;
		height: 26px;
	}

	&Active svg {
		stroke: $green;
	}
}

.text {
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: $white;

	&Reviews {
		font-weight: 200;
		line-height: 21px;
		vertical-align: middle;
	}
}

.rating {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-top: 10px;
}

.list {
	display: flex;
	gap: 3px;
}

.item {
	width: 21.33px;
	height: 21.33px;

	& svg {
		vertical-align: middle;
		width: 100%;
		height: 100%;
	}

	&Filled svg {
		fill: #D7D7D7;
	}
}