@import "@styles/variables.scss";

.layout {
	width: 100%;
	border-top: 1px solid $grey-light;
	padding-top: 108px;
	padding-bottom: 100px;
}

.body {
}

.content {
	width: 100%;
	align-items: flex-start;
	display: flex;
	gap: 92px;
}

.ItemsBlock {
	display: flex;
	flex-direction: column;
	gap: 20px;

	width: 100%;
}
.mainContent {
	display: flex;
	flex-direction: column;
	gap: 45px;
}
