@import "@styles/variables";

.section {
}

.heading {
	align-items: center;
	padding-bottom: 12px;
	margin-right: 20px;
	border-bottom: 1px solid $grey-light;
}

.filters {
	display: flex;
	gap: 21px;
}

.title {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 25px;
}

.text {
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
	color: $white;
}

.logoutIcon {
	background: none;
	cursor: pointer;
	border: none;

	&:hover svg {
		stroke: $green;
	}
}

.content {

	display: flex;
	flex-direction: column;
	gap: 30px;
}
