$white: #fffffe;
$bg-dark: #16161a;
$black: #000000;
$grey: #2d2d33;
$grey-light: #72757e;
$green: #2ab67d;
$light-green: #59c598;
$violet: #7e5af0;
$orange: #ffa500;
$pink: #ff3467;
$danger: #f05a5a;
$success: #2cb67d;
$warning: #f0cf5a;
$borderColor: #5d616f;