/* NavigationList.module.scss */
@import "@styles/variables";

.navigationList {
	display: flex;
	flex-direction: column;
	margin-bottom: 32px;
	margin-top: 32px;
}

.navLink {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 82px;
	padding: 14px 21px 17px 20px;
	background-color: $card;
	color: white;
	text-decoration: none;
	font-family: "Inter", sans-serif;
	font-size: 14px;
	font-weight: lighter;
}
.first {
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}
.last {
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}
.separator {
	height: 1px;
	background-color: $background;
}

.counterBlock {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 8px 0;
}

.counter {
	margin-right: 8px;
	margin-left: auto;
	color: #7e5af0;
}

.title {
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	font-family: "Inter", sans-serif;
	color: white;
	margin-bottom: 10px;
}

.description {
	font-weight: 300;
	font-size: 10px;
	line-height: 12px;
	font-family: "Inter", sans-serif;
	color: #5d616f;
	width: 223px;
}
.resetButton {
	background: $card;
	color: #5d616f;
	border-radius: 16px;
	border: none;
	width: 100%;
	height: 46px;
	bottom: 14px;
	position: absolute;
	transition: background-color 0.3s ease;
}

.resetButton:active {
	background-color: #7e5af0; /* Button color when clicked */
	color: black;
}
