@import "@styles/variables.scss";
.p{
    font-family: "Ubuntu";
    font-size: 16px;
    cursor: pointer;
    color: white;

    &:hover > span {
        color: $green;

        & > svg path  {
            stroke: $green;
        }
    }
    span {
        padding-left: 10px;
    }
}
.active {
    color: $green;
    color: $green;
    path {
        stroke: $green;
    }
}
.svgActive {
    transform: rotate(90deg);
    transition: 0.5s;
    color: $green;
    path {
        stroke: $green;
    }
    
}

.subcategory{
    margin-top: 10px;
    padding-left: 20px;
        &:hover > span {
            color: $green;

            & > svg path  {
                stroke: $green;
            }
        }

}
