@import "@styles/variables";

.block {
	background: $card;
	border-radius: 30px;
	width: 100%;
	padding: 26px 0 36px;
	position: relative;
}

.title {
	padding: 0 35px;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	color: $white;
}

.list {
	// margin-top: 10px;
}

.item {
	display: grid;
	grid-template-columns: 1fr 2fr;
	justify-items: left;
	padding: 20px 35px 0;
	border-bottom: 1px solid #44444b;

	&:first-child {
		padding-top: 16px;
	}

	&:nth-last-child(-n + 1) {
		border: none;
	}
}

.text {
	font-weight: 200;
	font-size: 15px;
	line-height: 18px;
	color: $white;
}

.icon {
	background: none;
	border: none;
	align-items: center;
	padding: 0;
	position: absolute;
	right: 26px;
	top: 26px;

	& svg {
		width: 22px;
		height: 22px;
		display: block;
	}

	&:hover svg {
		stroke: $green;
		cursor: pointer;
	}
}
