@import "@styles/variables.scss";

.block {
	background: #2d2d33;
	border-radius: 30px;
	width: 100%;
	padding: 30px;
	position: relative;
}

.title {
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	color: $white;
}

.list {
	margin-top: 20px;
}

.item {
	display: grid;
	grid-template-columns: 1fr 2fr;
	justify-items: left;
	padding: 10px 0px;
	border-bottom: 1px solid #44444b;

	&:nth-last-child(-n + 1) {
		border: none;
	}
}

.text {
	font-weight: 200;
	font-size: 15px;
	line-height: 18px;
	color: $white;
}

.icon {
	width: 22px;
	height: 22px;
	background: none;
	border: none;
	align-items: center;
	padding: 0;
	position: absolute;
	right: 26px;
	top: 26px;

	&:hover svg {
		stroke: $green;
		cursor: pointer;
	}
}