@import "@styles/variables.scss";

.block {
	color: rgba(215, 215, 215, 0.7);
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 39px;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	max-width: 600px;
}
