@import "@styles/variables.scss";

.section {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.list {
	box-sizing: border-box;
	width: 285px;
	border: 1px solid $grey-light;
	border-radius: 30px;
	padding: 25px 35px;

	&Active {
		background-color: $grey;
		border: 1px solid $grey;
	}
}

.item {
	margin-bottom: 15px;
	cursor: pointer;

	&:nth-last-child(-n + 1) {
		margin-bottom: 0px;
	}
}

.icon {
	width: 25px;
	height: 25px;
}

.link {
	display: flex;
	gap: 15px;
	height: 25px;
	align-items: center;
	text-decoration: none;

	&:hover .icon svg,
	&Active svg {
		stroke: $green;
	}

	&:hover .text,
	&Active .text {
		color: $green;
	}
}

.text {
	font-family: "Inter";
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: $white;
}