@import '../../styles/variables.scss';

.profile-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__list {
        box-sizing: border-box;
        width: 285px;
        border: 1px solid $grey-light;
        border-radius: 30px;
        padding: 25px 35px;

        &.active {
            background-color: $grey;
            border: 1px solid $grey;
        }
    }

    &__item {
        display: flex;
        gap: 15px;
        height: 25px;
        align-items: center;
        margin-bottom: 15px;
        cursor: pointer;

        &:hover .profile-menu__icon svg,
        &.active svg {
            stroke: $green;
        }

        &:hover .profile-menu__text,
        &.active .profile-menu__text {
            color: $green;
        }

        &:nth-last-child(-n + 1) {
            margin-bottom: 0px;
        }
    }

    &__icon {
        width: 25px;
        height: 25px;
    }

    &__text {
        font-family: 'Inter';
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: $white;
    }
}