@import "@styles/variables.scss";

.section {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.list {
	box-sizing: border-box;
	width: 280px;
	border: 1px solid $grey-light;
	border-radius: 30px;
	padding: 30px 32px;

	&Active {
		background-color: $grey;
		border: 1px solid $grey;
	}
}

.item {
	margin-bottom: 15px;
	cursor: pointer;

	&:nth-last-child(-n + 1) {
		margin-bottom: 0;
	}
}

.icon {
	& svg {
		width: 25px;
		height: 25px;
		vertical-align: middle;
	}
}

.link {
	display: flex;
	gap: 15px;
	align-items: center;
	text-decoration: none;

	&:hover .icon svg,
	&Active svg {
		stroke: $green;
	}

	&:hover .text,
	&Active .text {
		color: $green;
	}
}

.text {
	font-family: "Inter", serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: $white;
}
