@import "../../styles/variables.scss";

.message-item {
    background: #2D2D33;
    border-radius: 30px;

    margin-right: 10px;
    padding: 26px;
    display: grid;
    grid-template-columns: 90px 1fr 32px;
    align-items: center;
    column-gap: 20px;

    &__image {
        border-radius: 30px;
        object-fit: cover;
    }

    &__block {}

    &__line {
        display: flex;
        max-width: 250px;
        justify-content: space-between;
        margin-bottom: 10px;

        &:nth-last-child(-n + 2) {
            margin-bottom: 25px;
        }
    }

    &__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: rgba(255, 255, 254, 0.8);
        ;

        &_name {
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
        }

        &_location {
            color: $grey-light;
        }

        &_ad-name {
            color: $white;
        }

        &_price {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;

            color: $green-light;
        }
    }

    &__icon {}
}