@import "@styles/variables.scss";

.section {
}

.heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 55px;
	margin-right: 20px;
	border-bottom: 1px solid $grey-light;
}

.title {
	display: flex;
	align-items: center;
	gap: 10px;

	&Active svg {
		stroke: $green;
	}
}

.text {
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
	color: $white;
}

.logoutIcon {
	background: none;
	cursor: pointer;
	border: none;

	&:hover svg {
		stroke: $green;
	}
}

.content {
	padding-top: 30px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}
