@import "@styles/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

.section {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
	height: 94px;
	position: relative;
}

.logo svg {
	width: 210px;
	height: 46px;
}

.menu {
	flex-grow: 1s;
	display: flex;
	gap: 15px;
	align-items: center;
}

.item {}

.link {
	display: inline-block;

	&Category {
		box-sizing: border-box;
		border: 3px solid $green;
		border-radius: 11px;
		font-family: "Ubuntu";
		font-weight: 400;
		font-size: 16px;
		line-height: 18px;
		color: $green;
		text-decoration: none;
		padding: 4px 10px;
	}

	&CreateAd {
		box-sizing: border-box;
		background: $blue;
		border-radius: 11px;
		font-family: "Ubuntu";
		font-weight: 400;
		font-size: 19px;
		line-height: 22px;
		color: $white;
		text-decoration: none;
		padding: 15px 12px;
	}

	&Icon svg {
		height: 30px;
		width: auto;
		vertical-align: middle;
	}

	&Icon:hover,
	&IconActive {
		& svg {
			stroke: $green;
		}
	}
}

.form {
	display: flex;
	gap: 20px;
	align-items: center;
	margin-right: 20px;
	flex-grow: 2;
}

.button {
	vertical-align: middle;
	cursor: pointer;

	&Category {
		background: none;
		border: none;
		width: 32px;
		height: 32px;
	}

	&Search {
		background: none;
		border-radius: 0px 8px 8px 0px;
		box-sizing: border-box;
		position: absolute;
		right: 0px;
		bottom: 0;
		background-color: $grey;
		padding-left: 15px;
		padding-right: 15px;
		height: 36px;
		border: 1px solid $grey-light;
		border-left: none;

		& svg {
			vertical-align: middle;
		}
	}
}

.search {
	position: relative;
	flex-grow: 2;

}

.input {
	width: 100%;
	position: relative;
	height: 36px;
	border: 1px solid $grey-light;
	border-radius: 8px;
	background: none;
	padding: 9px 46px 9px 12px;
	color: $white;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	box-sizing: border-box;

	&::placeholder {}
}