@import "@styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

.section {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 12px 0px;
}

.logo svg {
	width: 280px;
	height: 46px;
}

.menu {
	flex-grow: 1s;
	display: flex;
	gap: 15px;
	align-items: center;
}

.item {
}

.link {
	display: inline-block;
	text-decoration: none;

	&Text {
		font-weight: 300;
		font-size: 11px;
		line-height: 13px;
		color: $white;
		text-decoration: none;
		margin-top: 4px;
	}

	&CreateAd {
		box-sizing: border-box;
		background: $blue;
		border-radius: 11px;
		font-family: "Ubuntu";
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		color: $white;
		text-decoration: none;
		padding: 12.5px 12px;
	}

	&Icon {
		text-decoration: none;
		justify-content: center;
		display: flex;
		flex-direction: column;

		& svg {
			height: 30px;
			width: auto;
			vertical-align: middle;
		}
	}

	&Icon:hover {
		& svg {
			stroke: $green;
		}
	}
}

.form {
	display: flex;
	gap: 20px;
	align-items: center;
	flex-grow: 2;
}

.button {
	vertical-align: middle;
	cursor: pointer;

	&Text {
		font-weight: 300;
		font-size: 11px;
		line-height: 13px;
		color: $white;
	}

	&Category {
		background: none;
		border: none;
	}

	&Search {
		background: none;
		border-radius: 0px 8px 8px 0px;
		box-sizing: border-box;
		position: absolute;
		right: 0px;
		bottom: 0;
		background-color: $grey;
		padding-left: 12px;
		padding-right: 12px;
		height: 46px;
		border: 1px solid $grey-light;
		border-left: none;

		& svg {
			vertical-align: middle;
			width: 22px;
			height: 21px;
		}
	}
}

.search {
	position: relative;
	flex-grow: 2;
}

.input {
	width: 100%;
	position: relative;
	height: 46px;
	border: 1px solid $grey-light;
	border-radius: 8px;
	background: none;
	padding: 9px 46px 9px 12px;
	color: $white;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	box-sizing: border-box;

	&::placeholder {
	}
}

.exitButton {
	background-color: inherit;
	border: none;
	cursor: pointer;

	&Hidden {
		display: none;
	}
}

@media (max-width: 700px) {
	.section {
		flex-direction: column;
	}
} ;
