@import "@styles/variables";

.colored_wrapper {
	background-color: $card;
	color: $white;
}

.container {
	max-width: 390px;
	padding: 6px 20px 6px 12px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
}

.left_block {
	align-items: center;
	display: flex;
	gap: 8px;
}

.text {
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
}
