/* NavigationList.module.scss */
@import "@styles/variables";

.navigationList {
	display: flex;
	flex-direction: column;
	margin-bottom: 32px;
}

.navLink {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 46px;
	padding: 0 16px;
	background-color: $card;
	color: white;
	text-decoration: none;
	font-family: "Inter", sans-serif;
	font-size: 14px;
	font-weight: lighter;
	&First {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 46px;
		padding: 0 16px;
		background-color: $card;
		color: white;
		text-decoration: none;
		font-family: "Inter", sans-serif;
		font-size: 14px;
		font-weight: lighter;
		border-top-left-radius: 16px;
		border-top-right-radius: 16px;
	}
	&Last {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 46px;
		padding: 0 16px;
		background-color: $card;
		color: white;
		text-decoration: none;
		font-family: "Inter", sans-serif;
		font-size: 14px;
		font-weight: lighter;
		border-bottom-left-radius: 16px;
		border-bottom-right-radius: 16px;
	}
}

.separator {
	height: 1px;
	background-color: $background;
}

.counterBlock {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 8px 0;
}

.counter {
	margin-right: 8px;
	margin-left: auto;
	color: #7e5af0;
}
