@import "@styles/variables";

.wrapper {
	width: 100%;
	background: $card;
	border-radius: 16px;
	padding: 21px 12px 21px 28px;
}

.hidden {
	display: none;
	opacity: 0;
}

.content {
	transition: 1.5s;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	div,
	p {
		max-width: 660px;
		font-family: "Ubuntu";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		color: #fffffe;
		line-height: 133.9%;
	}
	a {
		color: $primary;
		border-bottom: 2px solid $primary;
		text-decoration: none;
	}
}

.buttonClose {
	cursor: pointer;
	background-color: inherit;
	border: none;
	display: flex;
}
