@import "@styles/variables.scss";

.account-messages {
	&__heading {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 55px;
		margin-right: 20px;
		border-bottom: 1px solid $grey-light;
	}

	&__title {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__text {
		font-weight: 700;
		font-size: 32px;
		line-height: 39px;
		color: $white;
	}

	&__logout-icon {
		background: none;
		cursor: pointer;
		border: none;

		&:hover svg {
			stroke: $green;
		}
	}

	&__content {
		padding-top: 40px;
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
}
