@import "../../styles/variables.scss";

.account {
    width: 100%;
    border-top: 1px solid $grey-light;
    padding-top: 48px;

    &__body {}

    &__breadcrumbs {
        color: $white;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 32px;
    }

    &__link {
        color: $white;
        text-decoration: none;

        &.active {
            color: $green;
            cursor: default;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 285px 1fr;
        gap: 5%;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}