@import "@styles/variables";

.list {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.item {
	display: flex;
	gap: 15px;
	align-items: center;
}

.text {
	color: $white;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
}

.ratingLine {
	width: 303px;
	height: 6px;
	background-color: #888484;
	border-radius: 10px;
	position: relative;

	&Filled {
		display: block;
		left: 0;
		top: 0;
		height: 6px;
		background-color: $white;
		border-radius: 10px;
		position: relative;
	}
}
