.container {
	position: relative;
	.date {
		top: -84px;
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		color: #9d9d9e;
		position: absolute;
		width: 100%;
		text-align: center;
	}

	.list {
		margin-top: 154px;
		display: flex;
		flex-direction: column;
		gap: 15px;
		.item {
			display: grid;
			.message {
				justify-self: left;
				width: 50%;
				background: #2d2d33;
				border-radius: 30px;
				font-weight: 300;
				font-size: 16px;
				line-height: 19px;

				color: #fffffe;
				padding: 10px 20px;

				&.fromUs {
					justify-self: right;
					background: #7e5af0b2;
				}
			}

			.sentAt {
				font-weight: 300;
				font-size: 12px;
				line-height: 15px;
				margin: 8px 20px 0;
				color: #9d9d9e;
				&Right {
					text-align: right;
				}
			}
		}
	}
}
