@import "@styles/variables.scss";

.wrapper {
	margin-bottom: 40px;
	height: 19px;

	:global(.ant-breadcrumb-separator) {
		color: $white;
		margin-inline: 4px;
	}

	.link {
		color: $white;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		text-decoration: none;
		cursor: pointer;

		&Active {
			color: $green;
			cursor: default;
			-webkit-line-clamp: 1;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}

		&:hover {
			color: rgb(175, 174, 174);
		}

		&:hover.linkActive {
			color: $green;

		}
	}
}
