@import "@styles/variables";

.container {
	.button {
		cursor: pointer;
		background: none;
		border: none;
		display: inline-flex;
		& svg {
			width: 37px;
			height: 37px;
		}
	}
	.header {
		padding-bottom: 24px;
		border-bottom: 1px solid #72757e;

		& svg {
			width: 37px;
			height: 37px;
			cursor: pointer;
		}

		.userInfo {
			margin-top: 19px;
			display: inline-flex;
			padding-left: 40px;
			gap: 21px;
			.image {
				height: 122px;
				width: 142px;
				border-radius: 15px;
			}

			.textBlock {
				padding: 15px 0;
				.text {
					font-weight: 300;
					font-size: 16px;
					line-height: 19px;
					color: #9d9d9e;

					&.username {
						font-weight: 700;
						font-size: 32px;
						line-height: 39px;

						color: #fffffe;
						margin-bottom: 11px;
					}
				}
			}
		}
	}

	.body {
		.inputBlock {
			margin-top: 10px;
			display: flex;
			gap: 23px;
			align-items: center;

			& svg {
				width: 37px;
				height: 37px;
			}

			.input {
				background: $card;
				border: 1px solid #ffffff;
				border-radius: 30px;
				flex-grow: 2;
				box-sizing: border-box;
				font-weight: 300;
				font-size: 16px;
				line-height: 19px;
				padding: 15px;

				color: #fffffe;

				&::placeholder {
					font-weight: 300;
					font-size: 16px;
					line-height: 19px;

					color: #5f5f61;
				}
			}
		}
	}
}
.footer {
	width: 100%;
	height: auto;
	background-color: red;
	margin-top: auto;
}
