@import "@styles/variables.scss";

.layout {
	width: 100%;
	border-top: 1px solid $grey-light;
	padding-top: 108px;
	padding-bottom: 100px;
}

.body {
}

.wrapper {
	width: 100%;
	align-items: flex-start;
	display: flex;
	gap: 92px;

	& > div {
		margin-top: 0px;
	}
}

.content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 63px;

	.similarAdverts {
		grid-column: 1 / -1;
		grid-row: span 2;
	}
}
