@import "@styles/variables.scss";

.section {}

.heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 55px;
	margin-right: 20px;
	border-bottom: 1px solid $grey-light;
}

.title {
	display: flex;
	align-items: center;
	gap: 10px;
}

.text {
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
	color: $white;
}

.content {
	padding-top: 40px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}