@import "@styles/variables";

.page {
	width: 100%;
}

.body {
	padding: 30px 0;
	gap: 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
}

.warningText {
	font-weight: 800;
	font-size: 300px;
	background: linear-gradient(180deg, $green 0%, $black 100%);
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.information {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.text {
	margin-top: 45px;
	display: block;
	max-width: 690px;
	text-align: center;
	font-weight: 500;
	font-size: 32px;
	color: rgba($grey-light, 0.7);
}

.line {
	width: 100%;
	border-top: 1px solid #72757e;
}

@media (max-width: 700px) {
	.warningText {
		font-size: 250px;
	}

	.text {
		font-size: 28px;
	}
}

@media (max-width: 500px) {
	.warningText {
		font-size: 180px;
	}

	.text {
		font-size: 24px;
	}
}

@media (max-width: 400px) {
	.warningText {
		font-size: 150px;
	}

	.text {
		font-size: 20px;
	}
}
